<app-navbar></app-navbar>

<div class="container">
    @if(customers){
        <div class="card custom-card shadow">
            <div class="card-header">
                <h5 class="font">Customers</h5>
                <div class="input-group" style="border: 1px solid #687078; max-width: 520px;">
                    <button class="btn btn-default rounded-0 d-flex justify-content-center align-items-center" (click)="search()" style="height: 30px; text-align: center;">
                        <i class="bi bi-search"></i>
                    </button>
                    <input type="text" class="form-control rounded-0 italic" [formControl]="searchForm" placeholder="Search by customer name">
                </div>
            </div>
            <div class="card-body">
                <app-table
                    (buttonColumnEvent)="onClickDeleteButton($event)"
                    [jsons]="customers" 
                    [columnLabels]="['ID','Name','Email']"
                    [displayColumns]="['id','name','email']"
                    [buttonColumn]="'Delete'"
                    [buttonColumnClass]="'btn btn-danger'"
                    [buttonColumnIcon]="'bi bi-trash'"
                    [pageNumber]="0"
                    [currentPage]="0">
                </app-table>
            </div>
        </div>
    }
</div>
